<%= render "header" %>

<h1 style="margin-left: 20px; padding-top: 30px; font-family: Monaco;">Report to display city and its orders count and horizontal bar chart to show sales analysis...</h1>
<div class="container" style="width: 40%; margin-top: 50px; margin-left: 30px;">
  
    <table  class="table  table-bordered table-hover table-responsive "  style=" font-family: Lucida Console, Courier New, monospace;">
      <thead class="table-dark">
        <tr>
          <th scope="col" >Names</th>
          <th scope="col">Count</th>
        </tr>
      </thead>
      <% @city.each do |name, count| %>
      <tbody>
        <tr>
          <td><%= name %></td>
          <td ><%= count %></td>
        </tr>
      </tbody>
      <%end %>
    </table>
</div> 

 <div style="width: 40%; margin-top: -420px; margin-left: 680px;">

<%#= bar_chart ({"Pune"=>3, "Anjuna"=>2, "Nandur Shingote"=>1, "Pimpri-Chinchwad"=>1, "Gurugram"=>1, "Nashik"=>1, "Mumbai"=>1, "Panaji"=>1, "aldona"=>1, "Khed taluka"=>1}) %>
 <%= bar_chart @city %>
</div> 

<%= render "footer" %>













